<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stuart.drivercoach">

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //Class Declaration
        <activity android:name=".Acceleration" > </activity> //This declares a class
        <activity android:name=".BeginDrive" > </activity>
        <activity android:name=".Braking" > </activity>
        <activity android:name=".FuelSaved" > </activity>
        <activity android:name=".GearChange" > </activity>
        <activity android:name=".Leaderboard" > </activity>
        <activity android:name=".Menu" > </activity>
        <activity android:name=".Statistics" > </activity>
        <activity android:name=".TopTips" > </activity>
        <activity android:name=".TrackRecord" > </activity>
        <activity android:name=".Accelerometer" > </activity>
        <activity android:name=".Registration" > </activity>
        <activity android:name=".Location" > </activity>
        <activity android:name=".MyService" > </activity>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>